#featuredDiv
	section#featured-categories
		each val, index in features.rowone
			.featured-category(style='background-image: url(images/#{val})')
				a.fa.fa-star-o.fancybox(href='images/#{val}', rel='group')
					h2 #{index}
	section#featured-posts
		each val, index in features.rowtwo
			.featured-post(style='background-image: url(images/#{val}')
				a.fancybox(href='images/#{val}', rel='group')
					h2.meta-type.story-type #{index} 
					.post-meta
						span Click for More Info 
	.clearfix
